<h1>ท่องเที่ยวเมืองรอง</h1>

<form class="example-form">
  <div class="control">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="State" aria-label="State" [matAutocomplete]="auto" [formControl]="stateCtrl">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
        <span>{{state.name}}</span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <div class="example-button-row">
    <button mat-raised-button color="primary" (click)="onClickSearchButton()">Search</button>
  </div>
</div>
</form>





<div *ngFor="let data of attractionList">

  <div class="container">
    <div>longitude: {{longitude}}</div>
    <div>latitude: {{latitude}}</div>
    <agm-map [latitude]="data.lat" [longitude]="data.long" [zoom]="zoom">
      <!-- <div *ngFor="let data of states2"> -->
      <agm-marker [label]=data.name [latitude]="data.lat" [longitude]="data.long" [markerDraggable]="true"
        (dragEnd)="markerDragEnd($event)"></agm-marker>
      <!-- </div> -->

    </agm-map>
  </div>
 <div class="cardGroup">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header"></div>
      <mat-card-title>{{ data.location.loc1.name }}</mat-card-title>

    </mat-card-header>
    <img mat-card-image src={{data.location.loc1.img.img1}} alt="Photo of a Shiba Inu">
    <!-- <img mat-card-image src="https://img.kapook.com/u/2019/sireeporn/travel-9/P2.jpg" alt="Photo of a Shiba Inu"> -->
    <mat-card-content>
      <p>{{ data.location.loc1.detail }} </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header"></div>
      <mat-card-title>{{ data.location.loc2.name }}</mat-card-title>

    </mat-card-header>
    <img mat-card-image src="{{data.location.loc2.img.img1}}" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>{{ data.location.loc2.detail }} </p>
    </mat-card-content>
  </mat-card>
 </div>
<div class="cardGroup">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header"></div>
      <mat-card-title>{{ data.location.loc3.name }}</mat-card-title>

    </mat-card-header>
    <img mat-card-image src="{{data.location.loc3.img.img1}}" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>{{ data.location.loc3.detail }} </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header"></div>
      <mat-card-title>{{ data.location.loc4.name }}</mat-card-title>

    </mat-card-header>
    <img mat-card-image src="{{data.location.loc4.img.img1}}" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>{{ data.location.loc4.detail }} </p>
    </mat-card-content>
  </mat-card>
</div>
</div>
